/*body{
    display:flex;
    flex-direction:column;
    
}*/
body{

}
header{
    display:flex;
    flex-direction: column;
    width:100%;
    
}
header > h1{
    background-color:lightgoldenrodyellow;
    width:100%;
    justify-content: center;
    width:100%;
    background-color:gainsboro;
    color: lightgoldenrodyellow;
    padding: 10px;
    margin:0px;
}
header{
    width:100%;
}
nav > ul{
    width:100%;
    display: flex;
    list-style-type: none;
    margin: 0 0 0 0;
    justify-content:space-around;
    padding:10px;
    background-color:lightgoldenrodyellow;
}
h2{
    color:gainsboro;
    text-align:right;
    font-size:150%;
}
#sun{
    width:100%;
}
#precip{
    font-size:100%;
}
.leftcol{
    width:49%;
}
.section1{
    width:49%;
    font-size:150%;
}
#middle{
    display:flex;
    text-align:center;
    
}
.section3{
    font-size:150%;
    text-align: center;
    background-color: lightgoldenrodyellow;
    color:grey;
    padding:10px;
    width:100%;
}
#hourlydata{
    display:none;
}
#browsersketch{
    display:none;
}
#tabletsketch{
    display:none;
}
.wireframes{
    display:flex;
    flex-direction:column;
    max-width:450px;
}

/*********************TABLET SCREEN*******************************************/


@media screen and (min-width: 700px){
    .section1{
        font-size:250%;
    }
    #hourlydata{
        display:flex;
        flex-direction:column;
    }
    #sketch{
        display:none;
    }
    #browsersketch{
        display:none;
    }
    #tabletsketch{
        display:flex;
    }
    #precip{
    font-size:100%;
    }
    #hourlydata{
        width:100%;
        padding:10px;
        margin-bottom:10px;
    }
    table{
        width:100%;
    }
    table, th, td {
        border: 1px solid black;
    }
    h2{
        font-size:250%;
    }
    
}
/******************************DESKTOP SCREEN*******************************************/


@media screen and (min-width:1025px){
   
    body{
        margin-left: 125px;
        margin-right: 125px;
    }
    .section1{
        font-size:250%;
    }
    #precip{
    font-size:150%;
    }
    #sketch{
        display:none;
    }
    #tabletsketch{
        display:none;
    }
    #browsersketch{
        display:flex;
    }
    
    
    
    
    
    
}

/*This is the sun image*/

/*#sun {
    
    margin:0px;
    width:100%;
    position:relative;
    padding-bottom:50px;
       
}


/*#headerimg{
    
}
ul{
    padding:10px;
    list-style-type: none;
}
nav {
    background-color: skyblue;
    border: 10px;
    border-color: black;
                
				
			}
nav li{   
    font-size: 2em;
    background-color: skyblue;
    display: inline-block;
                
			}
h1{
    color: darkblue;
    font-size: 4em;
    margin:0px;
}
h2{
    color:darkblue;
    font-size: 5em;
    text-align:right;
    margin:0px;
    background-color:lightgoldenrodyellow;
    padding-right:20px;
}


.section1{
    display:inline-block;
    
    text-align: center;  
    font-size:180%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:0px;
    margin:0px;
    
    
    
    
        
}
#lastp{
    margin-bottom:50px
}
.leftcol{
    display:inline-block;
    width:48%;
    
}
.section2{
    display:inline-block;
    width: 100%;
    text-align: center;
    font-size:100%;
    margin:1px;
    padding: 2px;
    
}
/*#precip{
    display:inline-block;
    font-size:100%;
    width:48%;
}
.section3{
    
    width:99%;
    text-align:center;
   
    margin:0px;
    border:0px;
    font-size:350%;
    border: 3px solid black;
    border-radius: 5px;
    
}
#hourlydata{
    display:none;
}
#sketch{
    width:900px;
    height:auto;
}
#tabletsketch{
    display:none;
}
#browsersketch{
    display:none;
}
img{
    margin:50px;
    width: 48%
    
}
footer{
    width:100%;
    font-size:350%;
    background-color: lightgoldenrodyellow
    
}


/*********************TABLET SCREEN*******************************************/


/*@media screen and (min-width: 700px){
    .section1{
        float:right;
    }
    #hourlydata{
        display: inline-block;
        font-size:350%;
    }
    /*heading for hourly forecast*
        #hourlyfc{
        width:99%;
        color:darkblue;
        font-size: 125%;
        text-align:center;
        margin:0px;
        background-color:lightgoldenrodyellow;
        padding-right:20px;
    }
    #paragraphs{
        font-size:100%;
        
    }
    #hfOne{
        display:inline-block;
        width: 48%;
        text-align: center;  
        padding-left: 10px;
        padding-right: 10px;
        padding-top:0px;
        margin:0px;
        float:left;
         }
    #hfTwo{
        display:inline-block;
        width: 48%;
        text-align: center;
        margin:1px;
        padding: 2px;
        float:left;
        }
    #sketch{
        display:none;
        }
    #browsersketch{
        display:none;
    }
    #tabletsketch{
        display:inline-block;
        }
    }
    


/*********************DESKTOP SCREEN*******************************************/


/*@media screen and (min-width:1025px){
    body{
    position: static;
    }
        #sun {
    margin:0px;
    width:60%;
    position:relative;
    padding-bottom:50px;
    padding-left:90px;
    padding-top:50px;
    }
    h2{
        font-size: 2em;
        width:100%;
        text-align:right;
    }
     .section1{
    display:inline-block;
    width:49%;
    text-align: center;  
    font-size:480%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:0px;
    margin-bottom:0px;
    border: 3px solid black;
    border-radius: 5px;
        
    }
    #lastp{
    margin-bottom:50px
    }
    .leftcol{
    display:inline-block;
    width:48%;
    }
    .section2{
    display:inline-block;
    width: 100%;
    text-align: center;
    font-size:125%;
    margin-bottom:0px;
    padding: 0px;
    }
    .section3{
    width:99%;
    text-align:center;
    margin:0px;
    border:0px;
    font-size:150%;
    border: 3px solid black;
    border-radius: 5px;
    }
  
    #hourlydata{
        display: inline-block;
        font-size:150%;
        width=99%;
    }
    #sketch{
        display:none;
        }
    #tabletsketch{
        display:none;
        }
     #hfOne{
        display:inline-block;
        width: 48%;
        
       
         }
    #hfTwo{
        display:inline-block;
        width: 48%;
       
        }
     }
    #browsersketch{
        display:inline-block;
        }
    footer{
    width:100%;
    font-size:250%;
    background-color: lightgoldenrodyellow
    }
    
} */
