#body{
    width: 100%;
    margin: 0 0 0 0;
    }

#normalnav {
    display: none;  
    }


nav a {
    font-family: "Arial Black", Gadget, sans-serif;
    text-decoration: none;
    color: white;
    
    
    
}



/****************Dropdown Menu ****************/	
/* Dropdown Button */
.dropbtn {
    background-color: #aa0000;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #002255;
}

/* The container <div> - needed to position the dropdown content */
#dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
/****************Drop down Menu ****************/	

#headerimg{
        width:100%;
    }
.page-header {
    

    background-repeat: no-repeat;
    width: 100%;
    
} 

footer{
    background-color: #aa0000;
    
    display: flex;
    list-style-type: none;
    margin: 0 0 0 0;
    justify-content:space-around;
    align-items:center;
    padding:10px;
}

footer a:link {
				color:#ffffff 
			}

footer a:visited{
        color: #002255;
    }

.planningimg{
    width: 50%;
    height: 50%;
    padding: 10px;
}


/****************Index-Specific CSS ****************/
#homeheading{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 50px;
    text-align: center;
    width: 100%;
    
}

#format_index_images{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
     
}

#index-main{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
}

#tree_image{
    margin-bottom: 5px;
    
}

#sunset{
    margin-bottom: 5px;
    
}

#leftcol{
   text-align: center; 
}

#rightcol{
    text-align:center;
}





/****************our story-Specific CSS ****************/	

#contact-content{
    width: 100%;
}

#page-main-ourstory{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

#formatstory{
    font-size: 25px;
    
}

#contact-caption{
    text-align: center;
}








/**************** Gallery-Specific CSS ****************/
#gallery{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 5em;
    
}

.featured-video {
		display:flex;
		align-content: center;
		width: 50%;
		height: auto;
		margin: 1em 1em 5em 1em;
	}







/**************** Contact-Specific CSS ****************/


#page-main-contact{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow:hidden;
    align-items: center;
    margin-bottom: 25px;
    
}
.contactimg{
    
    margin: 5px;  
    
}
.info{
    text-align: center;
    width: 100%; 
    margin: 10px;
    
    
}
.email{
    text-align: center;
    width: 100%;
    margin: 10px;
    
}

#format_contact_images{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
}

#contactheading{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 40px;
    text-align: center;
    width: 100%;
}





/****************Shop-Specific CSS ****************/

#shop_page{
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    
}

#shop_page > li{
    list-style-type: none;
    text-align: center; 
}

#shopheading{
    text-align: center;
    padding-bottom: 15px;
}

ul{
    padding: 0;
}

#shopheader{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 50px;
    text-align: center;
    width: 100%;
}

/************************************** Tablet View **************************************
*                                                                                        *
*                                                                                        *
*****************************************************************************************/
@media screen and (min-width: 700px) {
    body{
        width:90%;
        padding-right: 5%;
        padding-left: 5%;
          
    }


    
#dropdown{
    display: none;
}
    
    #normalnav {
   
    display: flex;
    list-style-type: none;
    margin: 0 0 0 0;
    justify-content:space-around;
    align-items:center;
    padding:10px;
    background-color: #aa0000;
    }

    #hover{
    background-color: #bb0000; 
    }

    
    
    
    
    
/****************Index-Specific CSS ****************/
    #index-main{
    width: 100%;
    display:flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: flex-start;
    justify-content: space-between;
}
    
    #leftcol{
        width:65%;
        text-align: left;
        
    }
    
    #rightcol{
        border-radius: 25px;
        width:35%;
        text-align: center;
        background-color: #002255;
        color: white;
    }
    
    #format_index_images{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 10px;
        
    }
    
    #tree_image{
    margin-left: 0px;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    }

    #sunset{
    margin-left: 10px;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 5px;
    
    }
    
    #steamhole{
        margin-left: 10px;
        margin-top: 5px;
        margin-right: 5px;
        margin-bottom: 5px;
    }
  
    
    
    
    /****************our story-Specific CSS ****************/	
    #top{
    display: flex;
    align-items: center;
}

.thisdream{
    padding-right: 10px;
}
    
    #contact-caption{
        font-size: 25px;
    }
    
    
}	



    

/************************************** Desktop View **************************************
*                                                                                        *
*                                                                                        *
*****************************************************************************************/
@media screen and (min-width:1025px){
    
    #dropdown{
    display: none;
}
    
    #normalnav {
    
    display: flex;
    list-style-type: none;
    margin: 0 0 0 0;
    justify-content:space-around;
    align-items:center;
    padding:10px;
        background-color: #aa0000;
    }

    #hover{
    background-color: #bb0000; 
    }
    
  /****************Index-Specific CSS ****************/
    
    #format_index_images{
        margin-top:20px;
        margin-bottom: 20px;
    }
    
    #homeheading{
        font-size: 80px;
    }
    
    #leftcol{
        font-size: 30px;
        
    }
    #rightcol{
        font-size: 30px;
        
    }
    
    
}
    
